/* Variables */

:root {
    --basic-red:red;
    --basic-green: #63A63E;
    --basic-grey: #32425C;
    --basic-greylight: #F2F6F8;
    --basic-background: #F4F7F9;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-gold: #F9F5F0;
    --basic-sel: #F7F3EC;
    --basic-oldprice: #A9A9A9;


    --special-ylellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;

    --special-success: #5FBB2D;
    --special-warning: #FFBF47;
    --special-error: #BA2732;


    /* Шрифты */
    --font-primary: 'Cuprum';
    --font-secodary: 'PT Sans';
  }



/* Global */

.body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', 'PT Sans',  Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
  font-weight: normal;
    line-height: 18px;
    font-weight: 300;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }



.button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.top-item-btn {
  margin-left: auto;
  margin-right: 14px;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }


a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container{
    margin: 0 auto;
    width: 960px;
    padding: 0 10px;
}



/* header */

.main-header{
    background-color: var(--basic-background);
    min-height: 320px;
}

.logo-link {
  display: flex;
  justify-content: center;
  top: 0%;
  width: 220px;
  height: 47px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.top-menu {
    background-color: var(--basic-grey);
}

.top-menu-list {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    min-height: 42px;
    
  }

.top-header-wrapper {
  display: flex;
  justify-content: space-between;
  
}

/* .card {

  margin-right: 30px;
}

.bookmark {
  margin-right: 60px; */
}


.top-menu-item span {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.button-order {
  font-family: 'Cuprum';
  width: 150px;
  height: 42px;
  font-size: 18px;
  line-height: 24px;
}

.search {
  display: flex;
  background-color: var(--basic-grey);
  border: 0;
  font-family: 'Cuprum';
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  /* margin-right: 202px; */
}



.icon {
  width: 20px;
  height: 17px;
  margin-right: 8px;

}



  .midl-menu{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    min-height: 156px;
  }

  .header-p{
    padding-left: 30px;
    color: var(--basic-red);
  }


  .contacts-phone-header{
    display: flex;
    width: 270px;
    height: 45px;
    color: var(--basic-red);
    font-size: 21px;
    border: 3px solid white;

  }

  .contacts-phone-header span {
    align-self: center;
    margin: auto;
  }



  .midl-menu-list{
    display: flex;
    flex-direction: column;
  }

  .check-out{
    display: grid;
    grid-template-columns:  auto auto;
    margin-left: auto;
    gap: 10px;
  }

  .check-out-item {
      padding: 12px 24px;
      background-color: var(--basic-white);
  }

  .check-out-link {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
  }

  .midl-menu-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .button-order{
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    background-color: var(--basic-green);
  }


  .main-nav-list {
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: var(--basic-grey);
    min-height: 60px;
    margin-bottom: 62px;
    padding: 0 53px;
  }

.main-nav-link {
    font-family: 'Cuprum';
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: var(--basic-white);
  }

  /* Promo */

.promo-list {
    margin-top: 59px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px 20px;
    list-style: none;
    padding: 10px;
}

.promo-item {
    width: 300px;
    height: 123px;
    
}

.promo-link {
  width: 135px;
  height: 38px;
  
}

.promo-item img {
  position: absolute;
  width: 74.92px;
  height: 61px;
}


.promo-slider{
    width: 620px;
    height: 266px;
}

.promo-item-material {
    background-color: var(--special-warning);
}

.promo-item-tools{
    background-color: var(--special-blue);
}

.promo-item-tech {
    background-color: var(--special-lilac);
}

.promo-item-sale{
    background-color: var(--special-greenlight);
    grid-column-start: 3;
    grid-row-start: 3;
    z-index: 1;
}

.promo-item-deliveri{
    background-color: var(--special-warning);
    grid-column-start: 3;
    grid-row-start: 2;
}

.promo-title {
    color: var(--basic-white);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.promo-link {
    color: var(--basic-white);
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

/* Топ товаров */

.top-product {
    margin-top: 50px;
}

.block-header {
    display: flex;
    background-color: var(--basic-gold);
    flex-direction: row;
    align-items:center;
    margin-bottom: 20px;
}



.button-link {
    display: flex;
    padding: 11px 24px 9px 24px;
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.block-header h2 {
    font-family: 'Cuprum';
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 28px;
    color: var(--basic-grey);
}

.top-products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;

}

.top-products-item {
    min-width: 220px;
    min-height: 318px;
    display: flex;
    flex-direction: column;
    border: 1px solid #EAEAEA;
    align-items: center;
}


.product-name {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--basic-black);
    text-align: center;
}

.old-price {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--basic-oldprice);
}

.new-price {
    padding:  10px 20px 10px 20px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    background: red;
    color: var(--basic-white);
}

.product-foter{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 119px;
  margin-top: auto;
  margin-bottom: 21px;
}

.price-off {
  opacity: 0;
}

/* Топ производители */

.top-manufacturers{
    margin-top: 50px;
}

.top-manufacturers-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
}



/* Сервисы */

/* О компании*/
.columns{
  display: grid;
  grid-template-columns: 1fr 300px;
  min-height: 356px;
}

.about-company {
    margin-top: 70px ;
    margin-bottom: 70px ;
    }

.about{
    display: flex;
    flex-direction: column;
}

.contacts{
  display: flex;
  flex-direction: column;


}

.button-show-popup {


}

.contacts h2 {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.contacts p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 32px;
}


.about h2 {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.about p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}
.about ul {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.about-company-item li:not(:last-child) {
    margin-bottom: 12px;
}

.about-company-item li{
    margin-left: 36px;
}

.about_company_link {
  margin-top: auto;
  min-width: 220px;
}


/* Подвал сайта */

.main-footer {
    background-color: #32425C;

}

.top-footer{

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
}


.adres-footer{
    grid-column-start: 1;
    grid-row-start: 2;
}

.nav-static-ages-list {
  display: flex;
  justify-content: space-around;
}

.nav-catalog-footer-list {
    display: flex;
    justify-content: space-around;
}

.copyright {
  background-color: #293449;
}

.footer-wriper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    min-height: 107px;
    align-items: center;
}

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.social-link img {
    width: 44px;
    height: 44px;
    margin-top: 44px;
}

.feedback {
    display: flex;
    justify-content: space-between;
}

.feedback p{
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.feedback a{
    font-size: 16px;
    line-height: 18px;
    color: #FFD180;
}

.copyright p{
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}


/* ########## страница каталоаг*/

/* Хлебные крошки */
.breadcrumb {
    display: flex;
}

.breadcrumb-list {
    margin-top: 20px;
    display: flex;
}


.breadcrumb-link {
    margin-right: 20px;
}

/* Сортировка */

.catalog-wriper-sorting{
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 30px auto;
  gap: 20px ;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 38px;
  background-color: var(--basic-sel);
}

.filter-color {
  display: flex;
  align-items: center;
}


/* Каталог */



.catalog-wriper{
  display: grid;
  grid-template-columns: 220px auto;
  gap: 20px 20px;
}


.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px;
}

/* Фильтр */


/* `page navigation */

.nav-pages-list {
  display: flex;
  font: 1em sans-serif;
  margin-left: 250px;
}
