/* Variables */

:root {
  --basic-background: #f4f7f9;
  --basic-black: #000000;
  --basic-gold: #f9f5f0;
  --basic-green: #63a63e;
  --basic-grey: #32425c;
  --basic-greylight: #c5c5c5;
  --basic-oldprice: #a9a9a9;
  --basic-red: red;
  --basic-sel: #f7f3ec;
  --basic-white: #ffffff;
  /* Шрифты */
  --font-primary: "Cuprum";
  --font-secodary: "PT Sans";
  --special-blue: #3bbce3;
  --special-error: #ba2732;
  --special-greenlight: #8ed78f;
  --special-lilac: #dc91d8;
  --special-success: #5fbb2d;
  --special-warning: #ffbf47;
  --special-yellowlight: #ffd180;
  --special-ylellow: #ffbf47;
}



/* Global */

* {
  box-sizing: border-box;
}


.body {
  min-width: 940px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "PT Sans",  Arial, sans-serif;
  color: var(--basic-black);
  font-style: normal;

  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-position: top center;
}


.button {
  padding: 0;

  font: inherit;
  color: inherit;

  background: none;
  background-color: transparent;
  border: none;
}

.button-link:hover {
  background-color: #ca2c37;
}

.button-link:active {
  background-color: var(--special-error);
}

.block-title {
  margin: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum";
}


.top-item-btn {
  padding: 10px 24px;
}

.top-manufacturers-btn {
  padding: 10px 38px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}


a {
  text-decoration: none;

  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}



img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}




/* header */

.main-header {
  min-height: 320px;
  margin-bottom: 60px;

  background-color: var(--basic-background);
}

.main-header-inner {
  margin-bottom: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 220px;
  height: 43px;

  background: #ee3643;
  box-shadow: 0 5px 0 0 #bb3a43;

  user-select: none;
}


.logo:active {
  background-color: var(--special-error);
}



.top-menu {
  background-color: var(--basic-grey);
}

.top-menu-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.top-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.icon-cart {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  margin-left: 20px;

  fill: darkgrey;
}

.card {
  display: flex;
  align-items: center;
  width: 144px;
  height: 42px;

  cursor: pointer;
}

.card-full {
  background-color: var(--basic-red);
}

.bookmark {
  display: flex;
  align-items: center;
  width: 156px;
  height: 42px;

  cursor: pointer;
}


.bookmark:active,
.card:active {
  background-color: #161d29;
  opacity: 50%;

  user-select: none;
}

.bookmark:hover,
.card:hover svg {
  fill: var(--basic-white);
}

.bookmark:hover
 svg {
  fill: var(--basic-white);
}


.icon-bookmark {
  width: 14px;
  height: 16px;
  margin-right: 9px;
  margin-left: 20px;

  fill: darkgrey;
}



.icon-bookmark:active,
.icon-cart:active {
  fill: var(--basic-white);
}


.top-menu-item span {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.button-order {
  width: 150px;
  padding: 9px 0 9px 3px;

  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum";
  color: var(--basic-white);

  background-color: var(--basic-green);
  cursor: pointer;
}


.button-order:hover {
  background-color: #5fbb2d;
}

.button-order:active {
  opacity: 50%;
}

/* Поиск по сайту */

.search-form {
  position: relative;

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.search-form:hover svg {
  fill: var(--basic-red);
}

.search:hover {
  background-color: var(--basic-white);
}


.search-btn {
  position: absolute;
  top: 12px;

  padding-left: 12px;

  background: none;
  border: none;
}


.search-btn:hover .search {
  background-color: var(--basic-white);
}


.search-input {
  width: 271px;
  padding: 12px;

  background-color: var(--basic-grey);
  border: none;
}


.search-input:focus {
  background-color: var(--basic-white);
}

.search-input:active {
  background-color: var(--basic-white);
}


.search-input::-webkit-input-placeholder {
  padding-left: 30px;

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum";
  color: var(--basic-white);
  font-style: normal;
}



.icon-search {
  width: 17px;
  height: 17px;

  cursor: pointer;

  fill: darkgrey;
}


.midl-menu {
  display: grid;
  align-items: center;

  grid-template-columns: 1fr auto 1fr;
}

.header-p {
  padding: 42.5px 0 42px 30px;

  line-height: 23px;
  font-family: "Cuprum";
  color: var(--basic-red);
  font-style: italic;
}

.adres-header {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-style: normal;
}

.contacts-phone-header {
  position: relative;

  display: flex;
  width: 270px;
  height: 45px;
  margin-bottom: 3px;
  padding: 7px 45px 8px 72px;

  color: var(--basic-red);

  border: 3px solid white;
}


.icon-phone {
  position: absolute;
  top: 13px;
  left: 36px;

  width: 19px;
  height: 19px;

  fill: darkgrey;
}

.phone {
  font-size: 21px;
  line-height: 30px;
}



.check-out {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}

.check-out-log {
  display: flex;
  flex-direction: column;
}

.check-out-item {
  background-color: var(--basic-white);
}

.check-out-link {
  display: flex;
  align-items: center;
  padding: 12px 24px;

  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.check-out-link-inner {
  display: flex;
  justify-content: space-between;
}

.hot-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.hot-link svg {
  width: 5px;
  height: 5px;
  margin-right: 15px;
  margin-left: 15px;
}

.sing-in {
  padding: 12px 24px 12px 24px;
}

.log-in {
  padding: 12px 27px 12px 19px;
}

.log-in:hover svg {
  fill: #3d546f;
}

.log-in-item {
  margin-left: 40px;
}

.check-out-link:hover,
.my-order:hover,
.my-account:hover {
  color: var(--basic-red);
}

.check-out-link:active,
.my-order:active,
.my-account:active {
  color: var(--basic-greylight);
}

.check-out-link:active svg {
  color: var(--basic-greylight);

  fill: #c5c5c5;
}

.icon-login {
  width: 20px;
  height: 17px;
  margin-right: 6px;

  fill: #c5c5c5;
}

.icon-login:hover {
  fill: var(--basic-black);
}


.head {
  width: 20px;
  height: 18px;
}

.head:hover {
  fill: var(--special-error);
}


.icon-login:active {
  fill: #c5c5c5;
}



.midl-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 29px;

  list-style: none;
}



.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 960px;

  list-style: none;

  background-color: var(--basic-grey);
}



.main-nav-link {
  display: block;
  padding: 16px 24px 20px 27px;

  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  text-decoration: none;
}

.main-nav-link:hover {
  background-color: #293449;
}

.main-nav-link:active {
  background-color: #293449;
  box-shadow: inset 0 -5px 0 #293449;
  opacity: 0.5;
}

/* Promo */

.promo-list {
  display: grid;
  padding-bottom: 50px;

  list-style: none;

  gap: 20px 20px;
  grid-template-columns: repeat(3,300px);
  grid-template-rows: 123px 123px 123px;
}


.promo-slider {
  position: relative;

  grid-column: 1/3;
  grid-row: 2/3;
}

.baner-title {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 104px;
  padding: 23px 24px 16px 24px;

  color: var(--basic-white);
}

.open-catalog-btn {
  position: absolute;
  top: 201px;
  left: 24px;
}

.slider-btn {
  position: absolute;
  top: 114px;
}

.slider-btn-l {
  left: 24px;

  width: 22px;
  height: 40px;

  background-image: url(../img/icon-left.png);
  background-repeat: no-repeat;
  background-position: center;
}


.slider-btn-r {
  right: 24px;

  width: 22px;
  height: 40px;

  background-image: url(../img/icon-right.png);
  background-repeat: no-repeat;
  background-position: center;
}

.slider-btn-l:hover,
.slider-btn-r:hover {
  opacity: 0.3;
}




.baner-title h2 {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.baner-title span {
  display: block;

  font-size: 18px;
  line-height: 24px;
}

.open-catalog-btn {
  padding: 11px 46px 9px 46px ;

  text-align: center;
}

.promo-item {
  display: flex;
  padding: 20px 0 20px 23px ;
}

.promo-title {
  margin: 0;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.promo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 38px;

  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: rgba(255,255,255,0.3);
}

.promo-link:hover {
  color: var(--basic-white);

  background-color: rgba(197, 197, 197, 0.3);
}


.promo-link:active {
  color: var(--basic-white);

  background-color: rgba(169, 169, 169, 0.3);
}

.col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo-item-material {
  position: relative;

  overflow: hidden;

  background-color: var(--special-warning);
}

.promo-item-material::after {
  content: attr(data-item-status);
  position: absolute;
  top: 10px;
  left: 230px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: red;
  transform: rotate(45deg);
}

.icon-material {
  margin-left: 55px;
}

.promo-item-tools {
  background-color: var(--special-blue);
}

.icon-tools {
  margin-left: 36px;
}

.promo-item-tech {
  background-color: var(--special-lilac);
}

.icon-tech {
  margin-left: 33px;
}

.promo-item-sale {
  background-color: var(--special-greenlight);
}

.icon-sale {
  margin-left: 38px;
}

.promo-item-deliveri {
  background-color: var(--special-warning);

  grid-column-start: 3;
  grid-row-start: 3;
}

.icon-deliveri {
  margin-left: 33px;
}


/* Топ товаров */

.top-product {
  margin-bottom: 79px;
}

.block-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px 19px 26px 28px;

  background-color: var(--basic-gold);
}


.button-link {
  display: flex;

  font-size: 14px;
  line-height: 18px;
  font-family: var(--font-primary);
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-red);
}

.block-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum";
  color: var(--basic-grey);
  text-transform: uppercase;
  font-style: normal;
}

.top-products-list {
  display: flex;
  justify-content: space-between;
}

.top-products-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 220px;
  min-height: 318px;
  padding-bottom: 21px;

  border: 1px solid #eaeaea;


}




.catalog-item-image {
  position: relative;

  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}


.product-name {
  margin-top: 0;
  margin-bottom: 7px;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans";
  color: var(--basic-black);
}

.old-price {
  margin-bottom: 14px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans";
  color: var(--basic-oldprice);
  text-transform: uppercase;
  font-style: normal;

  text-decoration-line: line-through;
}

.new-price {
  display: flex;
  width: 141px;
  height: 38px;

  background-image: url("../img/red-button.svg") ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.new-price span {
  padding: 10px 44px 10px 30px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans";
  color: var(--basic-white);
  text-transform: uppercase;
  font-style: normal;
}


.product-footer {
  top: 134px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 141px;
}


.price-off {
  opacity: 0;
}


.top-products-item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.p-name {
  text-align: center;
}

/* Продукт при наведении */
.button-wrapper {
  position: absolute;
  top: 0;
  left: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 100%;

  transform: translateX(-50%);
  background: #ffffff;

  padding: 36px 42px;
  opacity: 0;

}

.top-products-item:hover .button-wrapper{
 opacity: 1;
}


.buy-btn svg {
  margin: 0;
  opacity: 70%;
}

.buy-btn {
  position: relative;

  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 10px 25px;
  width: 135px;

  color: var(--basic-white);

  background: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}



.buy-btn:hover {
  background-color: var(--special-success);
}

.buy-btn:active {
  background-color: #518534;
}



.bookmark-btn {
  padding: 7px ;
  width: 100%;

  text-transform: uppercase;

  border: 3px solid #63a63e;
}

.bookmark-btn:hover {
  border: 3px solid #32425c;
}

.bookmark-btn:active {
  opacity: 50%;
}


/* Топ производители */

.top-manufacturers {
  margin-bottom: 70px;
}

.top-manufacturers-list {
  display: grid;

  gap: 20px;
  grid-template-columns: repeat(4,1fr);
}

.top-manufacturers-link {
  display: block;
  width: 220px;
  height: 145px;
}

.top-manufacturers-item {
  outline: 1px solid #eaeaea;

  transition: 10ms;
}

.top-manufacturers-item:hover {
  outline: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.top-manufacturers-item:active {
  outline: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  opacity: 0.5;
}

/* Сервисы */
.servises {
  max-width: 100%;
  max-height: 522px;
  margin-bottom: 70px;
  padding: 64px 0 99px 0;

  background-color: var(--basic-background);
}

.servises-heder {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 70px;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans";
  font-style: normal;
}

.servises-heder p {
  margin-top: 25px;
  margin-bottom: 0;
}

.servises-footer {
  position: relative;

  display: flex;
}
.servises-button {
  display: flex;
  flex-direction: column;
}

/* .servises-button::before {
  content: "";
  position: absolute;
  left: 240px;

  width: 10px;
  height: 279px;

  background-image: url("../img/line.svg");
  background-repeat: no-repeat;
  background-size: cover ;
} */

.servises-btn {
  display: flex;
  width: 240px;
  padding: 14px 157px 16px 22px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  font-style: normal;

  background-color: #32425c;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

.active-btn {
  color: #32425c;

  background: var(--basic-white);
}

.servises-btn:hover {
  background: #293449;
}



.content {
  margin-left: 80px;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans";
  font-style: normal;
}

.title-servises {
  margin-bottom: 30px;
}

.servises-footer img {
  position: absolute;
  top: 4;
  right: 0;
}

/* О компании*/

.about-company {
  margin-bottom: 70px;
}

.columns {
  display: grid;
  min-height: 356px;

  grid-template-columns: 1fr 300px;
}


.about {
  display: flex;
  flex-direction: column;
  max-width: 460px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-company-item {
  position: relative;

  margin-bottom: 12px;
  margin-left: 37px;
}


.about-company-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -35px;

  width: 25px;
  height: 2px;

  border-top: 2px solid #f50057;
}


.contacts h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum";
  color: var(--basic-black);
  text-transform: uppercase;
  font-style: normal;
}

.contacts p {
  margin-bottom: 32px;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans";
  font-style: normal;
}

.contacts img {
  margin-bottom: 25px;
}
.about h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum";
  color: var(--basic-black);
  text-transform: uppercase;
  font-style: normal;
}

.about p {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans";
  font-style: normal;
}
.about ul {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum";
  font-style: normal;
}

.about-company-item li:not(:last-child) {
  margin-bottom: 12px;
}

.about-company-item li {
  margin-left: 36px;
}

.about-company-link {
  align-content: center;
  align-self: flex-start;
  min-width: 220px;
  margin-top: auto;
  padding: 11px 0 9px 40px;
}

.button-show-popup {
  display: flex;
  justify-content: center;
  padding: 11px 60px 9px 62px;
}

/* Подвал сайта */

.logo-footer {
  display: flex;
  justify-content: center;
  width: 220px ;
  height: 68px;

  background: #ee3643;
  box-shadow: 0 5px 0 0 #bb3a43;

  user-select: none;
}

.main-footer {
  background-color: #32425c;
}

.footer-left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;;
}



.adress-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 49px;
  margin-top: 22px;

  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.adres-footer a {
  color: var(--basic-white);
}




.static-pages-link {
  padding-left: 60px;

  color: var(--basic-white);
}

.static-pages-link:hover {
  text-decoration: underline;
}

.static-pages-link:active {
  opacity: 50%;
}

.catalog-footer-link {
  color: #ffda96;
}

.catalog-footer-link:hover {
  text-decoration: underline;
}

.catalog-footer-link:active {
  opacity: 50%;
}

.footer-right-side {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.nav-static-pages {
  margin-top: 37px;
}


.nav-static-ages-list {
  display: flex;
  justify-content: space-between;
}



.nav-catalog-footer-list {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.nav-catalog-footer-item {
  margin-left: 60px;
}

.nav-catalog-footer-item:first-child {
  margin-left: 0;
}

.contacts-phone-footer {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.copyright {
  background-color: #293449;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.social-item {
  width: 44px;
  height: 44px;

  cursor: pointer;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-item svg {
  width: 21px;
  height: 21px;

  fill: var(--basic-sel);
}

.social-link:hover {
  background-color: var(--basic-red);
}

.feedback {
  display: flex;
  justify-content: flex-end;
}

.feedback p {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.feedback a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.feedback a:hover {
  text-decoration: underline;
}

.feedback a:active {
  color: red;
}


.copyright p {
  color: var(--basic-white);
}

.section2-feedback {
  margin-left: 50px;
}

.footer-wriper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 107px;
}

/* ########## страница каталоаг*/



/* Хлебные крошки */
.breadcrumb {
  display: flex;
  margin-bottom: 20px;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  font-family: "PT Sans";
  text-transform: uppercase;
}

.breadcrumb-list li {
  position: relative;
  margin-right: 43px;
}

.breadcrumb-item::before {
  position: absolute;
  content: url('../img/bc.png');
  left: -26px;
}

.breadcrumb-link {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}


/* Заголовок каталога */

.catalog-title {
  margin-bottom: 20px;
  padding: 30px ;

  background-color: var(--basic-background);
}

.catalog-title h1 {
  margin: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

/* Сортировка */

.catalog-wriper-sorting {
  display: grid;

  gap: 20px ;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 38px auto;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 38px;

  background-color: var(--basic-sel);
}

.filter-color {
  display: flex;
  align-items: center;
  padding: 14px 151px 14px 18px;

  background-color: var(--basic-sel);
}

.filter-title {
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans";
  text-transform: uppercase;
  font-style: normal;
}

.midl-menu-item {
  display: flex;
}

.sorting-list {
  display: flex;
  align-items: center;
  padding-right: 14px;
}

/* .sorting-block{
 display: flex;
 justify-content: space-between;
} */

.filter-heading {
  padding-left: 20px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans";
  text-transform: uppercase;
}

.sorting-item {
  margin-left: 70px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans";
  text-transform: uppercase;
 border-bottom: 1px dotted var(--basic-red);
  cursor: pointer;
  mix-blend-mode: normal;
opacity: 0.3;
}

.sorting-item-active {
  opacity: 1;
  color: var(--basic-red);
  border: 0;
}

.sorting-item:active {
  opacity: 1;
  color: var(--basic-red);
  border: 0;
}

.sorting-btn {
  display: flex;

  margin-left: 45px;
}

.sorting-btn-up {
  width: 0;
  height: 0;
  margin-left: 21px;
  border-style: solid;
  border-width: 11px 7px 0 7px;
  border-color: var(--basic-greylight) transparent transparent transparent;
}

.sorting-btn-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 7px 0 7px;
  border-color: var(--basic-red) transparent transparent transparent;
  transform: rotate(180deg);
}

/* Каталог */

.catalog {
  margin-bottom: 50px;
}

.catalog-wriper {
  display: grid;

  gap: 20px 20px;
  grid-template-columns: 220px auto;
}


.products-list {
  display: grid;

  gap: 20px 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Фильтр */
.ange-filter {
  position: relative;
}


.range-controls {
  position: relative;
  width: 220px;
  height: 80px;
  margin-bottom: 10px;
  background-color: var(--basic-sel) ;
}

.range-controls .scale {
  position: absolute;
  top: 38px;
  left: 20px;
  width: 180px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle-min {
  position: absolute;
  left: 10px;
}

.range-controls .toggle-max {
  left: 160px;
}


.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}



.price-controls {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 95px;
  height: 38px;

  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans";
  text-align: center;
  font-style: normal;

  background-color: var(--basic-sel);
  border: none;
}

legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans";
  text-transform: uppercase;
  margin-bottom: 15px;
}

fieldset {
  position: relative;
  padding: 0;
  border: 0;
  padding-bottom: 25px;
  margin-top: 16px;
  border-bottom: 1px solid var(--basic-oldprice);
}

.radio-set {
  border-bottom: 1px solid transparent;
}



.filter-button {
  width: 220px;
  padding: 10px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans";
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
}

.filter-option {
  display: flex;
  margin-bottom: 16px;
  margin-left: 35px;
}

.filter-option:last-child {
  margin-bottom: 0px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  align-items: center;
}

.filter-input-checkbox + label::before {
  content: url('../img/checkbox-off.svg');
  position: absolute;
  left: -32px;
  top: -3px;


}

.filter-input-checkbox:checked + label::before {
  content: url('../img/checkbox-on.svg');
  position: absolute;
  left: -32px;
  top: -3px;
}

.filter-input-radio + label::before {
  content: url('../img/radio-off.svg');
  position: absolute;
  left: -32px;
  top: -4px;
  width: 25px;
  height: 25px;

}

.filter-input-radio:checked + label::before {
  content: url('../img/radio-on.svg');
  position: absolute;
  left: -32px;
  top: -4px;
}

.filter-item-style {
  font-family: 'PT Sans';
  font-style: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}


/* SEO text */

.seo-text {
  width: 100%;
  padding-top: 67px;
  padding-bottom: 73px;

  background-color: var(--basic-background);
}


.seo-text p {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans";
  font-style: normal;
}


/* `page navigation */

.nav-pages {
  display: flex;
  margin-bottom: 60px;
}

.nav-pages-list {
  display: flex;
  margin-left: 250px;
}

.nav-pages-item {
  margin-right: 10px ;

  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;

  border: 1px solid #e5e5e5;
  border-radius: 2px;

  user-select: none;
}

.nav-pages-item-current {
  color: var(--basic-white);

  background: #ee3643;
  background-color: var(--basic-red);
  border: 1px solid #ee3643;
  border-radius: 2px;
}

.nav-pages-item:hover {
  border: 1px solid #c5c5c5;
}

.nav-pages-item:active {
  border: 1px solid #ee3643;
}

.nav-pages-item a {
  display: block;
  padding: 10px 15px;

  color: var(--basic-black);
}


/* Модальные окна */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  margin: auto;

  color: var(--basic-white);

  background-color: var(--basic-white);
}


/* Кнопка зыкрытие поп-апа */

.modal-close {
  position: absolute;
  top: 17px;
  right: 10px;

  width: 22px;
  height: 22px;

  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}




/* Модальная карта */
/* .modal-map {
  width: 943px;
  height: 449px;

  box-shadow: (0px 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-map img {
  display: none;
} */

/* Модальная форма  */
