/* Variables */

:root {
    --basic-red:red;
    --basic-green: #63A63E;
    --basic-grey: #32425C;
    --basic-greylight: #F2F6F8;
    --basic-background: #F4F7F9;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-gold: #F9F5F0;
    --basic-sel: #F7F3EC;
    --basic-oldprice: #A9A9A9;
    
  
    --special-ylellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;

    --special-success: #5FBB2D;
    --special-warning: #FFBF47;
    --special-error: #BA2732;
  }



/* Global */

.body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', 'PT Sans',  Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }



.button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container{
    margin: 0 auto;
    width: 960px;
    padding: 0 10px;
}



/* header */

.main-header{
    background-color: var(--basic-background);
    min-height: 320px;
}

.top-menu {
    background-color: var(--basic-grey); 
}

.top-menu-list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    min-height: 42px;
  }



  .midl-menu{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    min-height: 156px;
  }
  
  .header-p{
    padding-left: 30px;
    color: var(--basic-red);
  }


  .contacts-phone-header{
    display: flex;
    width: 270px;
    height: 45px;
    color: var(--basic-red);
    font-size: 21px;
    border: 3px solid white;
      
  }

  .contacts-phone-header span {
    align-self: center;
    margin: auto;
  }



  .midl-menu-list{
    display: flex;
    flex-direction: column;
  }

  .check-out{
    display: grid;
    grid-template-columns:  auto auto;
    margin-left: auto;
    gap: 10px;
  }

.check-out-item {
    padding: 12px 24px 12px 24px;
    border: 1px solid #FFD180;
    background-color: #F4F7F9;
  }



  /* .midl-menu-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
   */

  .button-order{
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    background-color: var(--basic-green); 
  }


  .main-nav-list {
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: var(--basic-grey);
    min-height: 60px;
    margin-bottom: 62px;
    padding: 0 53px;
  }

.main-nav-link {
    font-family: 'Cuprum';
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: var(--basic-white);
  }

  /* Promo */
  
.promo-list {
    margin-top: 59px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px 20px;
    list-style: none;
    padding: 10px;
}

.promo-item {
    width: 300px;
    height: 123px;
}

.promo-slider{
    width: 620px;
    height: 266px;
}

.promo-item-material {
    background-color: var(--special-warning);
}

.promo-item-tools{
    background-color: var(--special-blue);
}

.promo-item-tech {
    background-color: var(--special-lilac);
}

.promo-item-sale{
    background-color: var(--special-greenlight);
    grid-column-start: 3;
    grid-row-start: 3;
    z-index: 1;
}

.promo-item-deliveri{
    background-color: var(--special-warning);
    grid-column-start: 3;
    grid-row-start: 2; 
}

.promo-title {
    color: var(--basic-white);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.promo-link {
    color: var(--basic-white);
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

/* Топ товаров */

.top-product {
    margin-top: 50px;
    
}

.block-header {
    display: flex;
    background-color: var(--basic-gold);
    flex-direction: row;
    align-items:center;
    margin-bottom: 20px;
}

.button-link {
    margin-left: auto;
}

.top-products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
    
}

.top-products-item {
    width: 220px;
    height: 318px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
}

/* Топ производители */

.top-manufacturers{
    margin-top: 50px;
}

.top-manufacturers-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
}

/* Сервисы */

/* О компании*/


.about-company .container{
    display: flex;
    flex-grow: 1 1;
}

.about-company {
    margin-top: 70px ;
    margin-bottom: 70px ;
    }

/* Подвал сайта */

.main-footer {
    background-color: #32425C;
   
}

.top-footer{
    
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
}

.adres-footer{
    grid-column-start: 1;
    grid-row-start: 2;
}

.nav-static-ages-list {
    display: flex;
    justify-content: space-around;
}

.nav-catalog-footer-list {
    display: flex;
    justify-content: space-around; 
}


.copyright {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: salmon;
    min-height: 107px;
}

.social-item {
    display: flex;
}


.social-link img {
    width: 44px;
    height: 44px;
    margin-top: 44px;
}

.feedback {
    display: flex;
    justify-content: space-between;
}

.feedback p{
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.feedback a{
    font-size: 16px;
    line-height: 18px;
    color: #FFD180;
}

.copyright p{
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}


/* ########## страница каталоаг*/

/* Хлебные крошки */
.breadcrumb {
    display: flex;
}

.breadcrumb-list {
    margin-top: 20px;
    display: flex;
}


.breadcrumb-link {
    margin-right: 20px;
}

/* Сортировка */

.sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 38px;
    margin-left: 241px;
    background-color: var(--basic-sel);
}



/* Каталог */


.header-main{
    display: flex;
    align-items: center;
    margin: 20px 0 ;
    background-color: var(--basic-background);
}

.block-title{
    padding-left: 50px;
    font-family: 'Cuprum';
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}


.catalog {
    display: flex;
}




.products-list {
    display: grid;
    grid-template-columns:220px 220px 220px;
    gap: 20px;
    
}

.nav-pages-list{
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding-left: 220px;
}

.nav-pages-item {
    margin-left: 10px;
}

/* Фильтр */

.filter {
    width: 220px;
  
}

.filter-color{
    display: flex;
    align-items: center;
    min-width: 220px;
    height: 38px;
    background-color: var(--basic-sel);

}

.filter-heading-top {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 18px;
    
}

.manufacturers-filter{
    
}